/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  overflow-x: hidden;
  background-color: #000000;
  font-family: "Cairo", sans-serif;
  color: #fff;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

html {
  font-size: 20px;
}

@media screen and (max-width: 992px) {
  html {
    font-size: 30px;
  }
}
@media screen and (max-width: 576px) {
  html {
    font-size: 20px;
  }
}
.header {
  background-color: #000000;
  /* CONTAINER HEADER */
  /* MENU HAMBURGUESA ANIMACION */
}
.header__container {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  /* LOGO */
  /* NAV */
  /* LOG IN / CARRITO */
  /* SEARCH */
}
.header__container .logo {
  display: flex;
  align-items: center;
  grid-column: 1/3;
}
.header__container .logo a {
  display: flex;
}
.header__container .logo a img {
  margin: 0.5rem;
  width: 6rem;
}
.header__container .nav {
  z-index: 3;
  font-size: 1rem;
  display: flex;
  grid-column: 3/9;
}
.header__container .nav ul {
  padding-bottom: 0.5rem;
  margin: 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: row;
}
.header__container .nav ul .main-dropdown {
  position: relative;
}
.header__container .nav ul .main-dropdown .search-icon1 {
  width: 0.5rem;
}
.header__container .nav ul .main-dropdown .active-search-icon {
  transform: rotate(180deg);
}
.header__container .nav ul .main-dropdown .dropdown {
  display: none;
}
.header__container .nav ul .main-dropdown .dropdown li {
  padding: 0.5rem 0 0 0;
}
.header__container .nav ul .main-dropdown .active-dropdown {
  width: 200px;
  background-color: #000000;
  font-size: 0.8rem;
  padding-left: 2px;
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.header__container .nav ul li:hover {
  transform: translateY(-2px);
}
.header__container .nav ul li {
  list-style: none;
}
.header__container .nav ul li a {
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
.header__container .nav ul li a:hover {
  border-bottom: 2px solid #29d0fd;
}
.header__container .items {
  display: flex;
  grid-column: 9/10;
}
.header__container .items ul {
  padding-bottom: 0.75rem;
  margin: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: row;
}
.header__container .items ul li {
  list-style: none;
}
.header__container .items ul li a {
  display: flex;
  align-items: baseline;
  margin-right: 1rem;
}
.header__container .items ul li a img {
  width: 1rem;
  height: 1rem;
}
.header__container .items ul li a img:hover {
  transition: 0.1s;
  transform: scale(1.3);
}
.header__container .search {
  padding-bottom: 7px;
  display: flex;
  align-items: flex-end;
  grid-column: 10/12;
}
.header__container .search .search-icon {
  margin-right: 5px;
  width: 10%;
}
.header__container .search .search-icon img {
  width: 1rem;
  height: 1rem;
}
.header__container .search .search-icon img:hover {
  transition: 0.1s;
  transform: scale(1.3);
}
.header__container .search .search-input {
  width: 90%;
  padding-bottom: 5px;
}
.header__container .search .search-input input {
  color: #fff;
  border-radius: 5px;
  border: none;
  background-color: rgba(66, 73, 73, 0.95);
  height: 25px;
  width: 70%;
  font-size: 0.7rem;
}
.header__container .search .search-input ::placeholder {
  padding-left: 10px;
  color: #fff;
  font-size: 0.7rem;
}
.header__bars-menu {
  display: none;
}

@media screen and (max-width: 992px) {
  .header {
    /* CONTAINER HEADER */
    /* MENU HAMBURGUESA ANIMACION */
  }
  .header__container {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    /* LOGO */
    /* NAV */
    /* LOG IN / CARRITO */
    /* SEARCH */
  }
  .header__container .logo {
    z-index: 4;
    background-color: #000000;
    /* T */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* T */
    grid-column: 1/7;
  }
  .header__container .logo a {
    display: flex;
  }
  .header__container .logo a img {
    width: 4rem;
  }
  .header__container .nav {
    position: relative;
    grid-column: 1/12;
  }
  .header__container .nav ul {
    padding: 0;
    position: absolute;
    top: -500px;
    transition: all 0.5s;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* T */
  }
  .header__container .nav ul li {
    padding: 0.5rem;
  }
  .header__container .nav ul .main-dropdown .active-dropdown {
    position: relative;
    background: none;
    /* T */
  }
  .header__container .nav-active {
    top: 0;
  }
  .header__container .nav-active ul {
    z-index: 5;
    background-color: #000000;
    top: inherit;
  }
  .header__container .items {
    background-color: #000000;
    z-index: 4;
    grid-row: 1/2;
    display: flex;
    grid-column: 7/8;
  }
  .header__container .items ul {
    padding: 0;
    /* T */
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .header__container .items ul li {
    list-style: none;
  }
  .header__container .items ul li a {
    display: flex;
    justify-content: flex-end;
    align-items: inherit;
  }
  .header__container .items ul li a img:hover {
    transition: 0.1s;
    transform: scale(1.3);
  }
  .header__container .search {
    background-color: #000000;
    /* T */
    z-index: 4;
    /* T */
    padding-bottom: 0;
    display: flex;
    align-items: center;
    /* T */
    grid-row: 1/2;
    /* T */
    grid-column: 8/11;
    /* T */
  }
  .header__container .search .search-icon {
    display: flex;
    /* T */
    justify-content: flex-end;
    /* T */
    width: 20%;
  }
  .header__container .search .search-icon img {
    width: 1rem;
    height: 1rem;
    margin-right: 5px;
  }
  .header__container .search .search-icon img:hover {
    transition: 0.1s;
    transform: scale(1.3);
  }
  .header__container .search .search-input input {
    border-radius: 5px;
    border: none;
    height: 25px;
    width: 80%;
  }
  .header__container .search .search-input ::placeholder {
    padding-left: 10px;
    color: #fff;
    font-size: 0.7rem;
  }
  .header__bars-menu {
    background-color: #000000;
    z-index: 4;
    grid-row: 1/2;
    grid-column: 11/12;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__bars-menu .img-hambur {
    cursor: pointer;
    width: 1.5rem;
  }
}
@media screen and (max-width: 576px) {
  .header__container .items {
    grid-column: 7/11;
  }
  .header__container .search {
    justify-content: flex-end;
    grid-row: 2/3;
    grid-column: 1/12;
  }
  .header__container .search .search-input {
    width: inherit;
  }
  .header__container .search .search-input input {
    width: 95%;
  }
  .header__bars-menu .img-hambur {
    margin-right: 7px;
  }
}
.general-grid-index-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "title-index" "button-index" "animation-index";
  font-family: "Russo One", sans-serif;
}
.general-grid-index-container .title-index {
  letter-spacing: 10px;
  font-size: 3em;
  grid-area: title-index;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.general-grid-index-container .button-index {
  grid-area: button-index;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.general-grid-index-container .button-index .neon-button {
  font-size: 1.5rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: #29d0fd;
  border: #29d0fd 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsla(0deg, 0%, 100%, 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 #29d0fd, 0 0 0.5em 0 #29d0fd;
  position: relative;
}
.general-grid-index-container .button-index .neon-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: #29d0fd;
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}
.general-grid-index-container .button-index .neon-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em #29d0fd;
  opacity: 0;
  background-color: #29d0fd;
  z-index: -1;
  transition: opacity 100ms linear;
}
.general-grid-index-container .button-index .neon-button:hover,
.general-grid-index-container .button-index .neon-button:focus {
  background: #29d0fd;
  color: hsl(323deg, 21%, 16%);
  text-shadow: none;
}
.general-grid-index-container .button-index .neon-button:hover::before,
.general-grid-index-container .button-index .neon-button:focus::before {
  opacity: 1;
}
.general-grid-index-container .button-index .neon-button:hover::after,
.general-grid-index-container .button-index .neon-button:focus::after {
  opacity: 1;
}
.general-grid-index-container .animation-index {
  grid-area: animation-index;
}
.general-grid-index-container .animation-index div {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.general-grid-index-container .animation-index div img {
  width: 15%;
  height: auto;
  animation: movement 4s infinite alternate;
}
@keyframes movement {
  0% {
    transform: translateX(0) rotateX(0);
  }
  100% {
    transform: translateX(600%) rotate(360deg);
  }
}

@media screen and (max-width: 576px) {
  .general-grid-index-container .title-index {
    letter-spacing: 5px;
    font-size: 2.5em;
  }
  .general-grid-index-container .button-index .neon-button {
    font-size: 1.5em;
  }
  .general-grid-index-container .animation-index div {
    width: 100%;
  }
  .general-grid-index-container .animation-index div img {
    width: 15%;
    animation: movement 4s infinite alternate;
  }
  @keyframes movement {
    0% {
      transform: translateX(0) rotateX(0);
    }
    100% {
      transform: translateX(550%) rotate(360deg);
    }
  }
}
@media screen and (max-width: 280px) {
  .general-grid-index-container .title-index {
    font-size: 2em;
  }
  .general-grid-index-container .button-index .neon-button {
    font-size: 1em;
  }
}
.main__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
}
.main__container .home-a {
  line-height: 4.5rem;
  padding: 1rem 0 0 2rem;
  grid-column: 1/4;
  background-image: url(../images/home-main-images/home-background.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main__container .home-a h1 {
  font-size: 3.5rem;
}
.main__container .home-a h2 {
  font-size: 2rem;
}
.main__container .home-a span {
  display: block;
}
.main__container .home-b {
  grid-column: 4/6;
}
.main__container .home-b .carousel {
  position: relative;
  width: 100%;
}
.main__container .home-b .carousel .videos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
.main__container .home-b .carousel .videos video {
  width: 100%;
}
.main__container .home-b .carousel .circles {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 30px;
}
.main__container .home-b .carousel .circles span {
  position: relative;
  border-radius: 50%;
  margin: 0.1rem;
  padding: 0.4rem;
  background-color: #29d0fd;
}
.main__container .home-b .carousel .circles .circle-active {
  background-color: black;
}
.main__container .home-b .carousel .arrow-left {
  top: 45%;
  position: absolute;
}
.main__container .home-b .carousel .arrow-left img {
  position: relative;
  width: 30px;
  height: 30px;
}
.main__container .home-b .carousel .arrow-right {
  top: 45%;
  right: 0;
  position: absolute;
}
.main__container .home-b .carousel .arrow-right img {
  position: relative;
  width: 30px;
  height: 30px;
}
.main__container .home-b .carousel .videos-active {
  transform: translateX(-33.33%);
}
.main__container .home-b .products-home ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.main__container .home-b .products-home ul li:hover {
  transform: scale(1.03);
}
.main__container .home-b .products-home ul li {
  transition: all 0.6s ease;
  background-color: rgba(128, 128, 128, 0.5);
  height: 100%;
  width: 30%;
  list-style-type: none;
}
.main__container .home-b .products-home ul li .shopping-cart-main {
  display: flex;
  justify-content: flex-end;
  padding-right: 0.5rem;
}
.main__container .home-b .products-home ul li .name-product {
  margin-bottom: 0.7rem;
  text-align: center;
  font-size: 0.5rem;
}
.main__container .home-b .products-home ul li .name-product span {
  display: block;
}
.main__container .home-b .products-home ul li a {
  display: flex;
  justify-content: center;
}
.main__container .home-b .products-home ul li a .img-b {
  width: 1.5rem;
  height: 1.5rem;
}
.main__container .home-b .products-home ul li a img {
  width: 70%;
}
.main__container .home-c {
  padding-top: 2rem;
  background-image: url(../images/home-main-images/home-container-image4.webp);
  grid-column: 1/6;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 40rem;
}
.main__container .home-c .text-home-c {
  font-size: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
}
.main__container .home-c .text-home-c span {
  display: block;
}
.main__container .home-c .text-home-c .span-b {
  font-size: 1.5rem;
}

@media screen and (max-width: 992px) {
  .main__container {
    grid-template-rows: 40vh auto;
  }
  .main__container .home-a {
    margin-bottom: 1rem;
    line-height: 3.5rem;
    grid-column: 1/6;
  }
  .main__container .home-a h1 {
    font-size: 2.5rem;
  }
  .main__container .home-a h2 {
    font-size: 1.5rem;
  }
  .main__container .home-b {
    grid-column: 1/6;
  }
  .main__container .home-b .products-home ul {
    margin-bottom: 1rem;
  }
  .main__container .home-c .text-home-c {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 576px) {
  .main__container {
    grid-template-rows: 40vh auto;
  }
  .main__container .home-a {
    line-height: 3rem;
  }
  .main__container .home-a h1 {
    font-size: 1.5rem;
  }
  .main__container .home-a h2 {
    font-size: 1rem;
  }
  .main__container .home-b .products-home ul li .name-product {
    font-size: 0.4rem;
  }
  .main__container .home-b .products-home ul li a .img-b {
    width: 1rem;
    height: 1rem;
  }
  .main__container .home-b .products-home ul li a img {
    width: 80%;
  }
  .main__container .home-c {
    height: 20rem;
  }
  .main__container .home-c .text-home-c {
    font-size: 1.5rem;
  }
  .main__container .home-c .text-home-c .span-b {
    font-size: 1rem;
  }
}
.products-container {
  min-height: fit-content;
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: fit-content(100%);
}
.products-container__video-background {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  position: absolute;
  object-fit: cover;
}
.products-container__list-products {
  height: 80vh;
  z-index: 1;
  font-size: 0.7rem;
  background-color: rgba(128, 128, 128, 0.5);
  grid-column: 1/2;
}
.products-container__list-products ul {
  padding: 0;
  margin: 0;
}
.products-container__list-products ul li {
  cursor: pointer;
  margin: 1rem 0 1rem 0;
  border-bottom: 2px solid #fff;
  width: 100%;
  list-style: none;
}
.products-container__list-products ul li a {
  color: #fff;
  text-decoration: none;
}
.products-container__buy-products {
  overflow-y: scroll;
  max-height: 80vh;
  padding: 3%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 2;
  grid-column: 2/6;
}
.products-container__buy-products .product-box:hover {
  transform: translateY(-0.2rem);
}
.products-container__buy-products .product-box {
  transition: all 0.5s ease;
  padding-bottom: 0.5rem;
  margin: 0.5rem 0.5rem 0 0.5rem;
  width: 300px;
  height: 420px;
  background-color: rgba(66, 73, 73, 0.95);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.products-container__buy-products .product-box .img-product-container {
  display: flex;
  justify-content: center;
}
.products-container__buy-products .product-box .img-product-container img {
  width: 95%;
}
.products-container__buy-products .product-box .price-product-container::before {
  content: "";
  padding: 0.5px;
  width: 50%;
  height: 0.5px;
  background-color: #fff;
  position: absolute;
  top: 0;
}
.products-container__buy-products .product-box .price-product-container {
  font-family: "Roboto Slab", serif;
  position: relative;
  padding-top: 0.8rem;
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.products-container__buy-products .product-box .price-product-container .price-product {
  display: flex;
  align-items: center;
  padding: 0 10px 0 10px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  width: fit-content;
}
.products-container__buy-products .product-box .price-product-container .shopping-img {
  cursor: pointer;
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  width: 35%;
}
.products-container__buy-products .product-box .price-product-container .shopping-img img {
  transition: all 0.5s ease;
  width: 50%;
}
.products-container__buy-products .product-box .price-product-container .shopping-img img:hover {
  transform: scale(1.1);
}
.products-container__buy-products .product-box .name-product {
  font-size: 0.7rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 0.5rem;
}
.products-container__buy-products .product-box .name-product h2 {
  text-transform: uppercase;
}

@media screen and (max-width: 992px) {
  .hidden-shopping-cart {
    background-color: rgba(66, 73, 73, 0.95);
    z-index: 3;
    top: 0;
    position: fixed;
    height: 100%;
    width: 40%;
    transition: all 0.5s ease;
  }
  .hidden-shopping-cart .hidden-title {
    height: 5%;
    display: flex;
    align-items: center;
  }
  .hidden-shopping-cart .hidden-title img {
    width: 1.5rem;
    height: 1.5rem;
  }
  .hidden-shopping-cart .hidden {
    overflow-y: scroll;
    position: relative;
    height: 80%;
  }
  .hidden-shopping-cart .hidden__shop-product {
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .hidden-shopping-cart .hidden__shop-product .name-product {
    width: 60%;
  }
  .hidden-shopping-cart .hidden__shop-product .img-product {
    width: 20%;
  }
  .hidden-shopping-cart .hidden__shop-product .img-product img {
    width: 70%;
  }
  .hidden-shopping-cart .hidden__shop-product .price-product-cart {
    width: 20%;
  }
  .hidden-shopping-cart .hidden__shop-product .count-product {
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 30px;
  }
  .hidden-shopping-cart .hidden__shop-product .count-product input {
    text-align: center;
    width: 1.5rem;
  }
  .hidden-shopping-cart .hidden__shop-product .count-product span {
    color: #000000;
    width: 0.5rem;
  }
  .hidden-shopping-cart .hidden__shop-product .delete-product img {
    width: 1.5rem;
    height: 1.5rem;
  }
  .hidden-shopping-cart #js-hidden-total {
    height: 15%;
    flex-direction: column;
    display: flex;
  }

  .products-container {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: fit-content(100%);
  }
  .products-container__list-products {
    height: fit-content;
    grid-column: 1/6;
  }
  .products-container__buy-products {
    max-height: 50vh;
    padding: 0;
    margin-bottom: 1rem;
    grid-column: 1/6;
  }
  .products-container__buy-products .product-box {
    margin: 0.5rem 0.5rem 0 0.5rem;
    width: 250px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  .products-container__buy-products .product-box .img-product-container img {
    width: 70%;
  }
  .products-container__buy-products .product-box .price-product-container .price-product {
    font-size: 1.2rem;
  }
  .products-container__buy-products .product-box .name-product {
    font-size: 0.5rem;
    height: fit-content;
    margin-bottom: 0.5rem;
  }
}
@media screen and (max-width: 576px) {
  .products-container__video-background {
    display: none;
  }
}
.active-hidden {
  right: -100%;
}

.swal-height {
  display: flex;
  z-index: 6;
}

.block-shop-active {
  z-index: 3;
  position: absolute;
  width: 100vw;
  height: 200vh;
  background-color: rgba(128, 128, 128, 0.4);
  top: 0;
}

.hidden-shopping-cart {
  background-color: rgba(66, 73, 73, 0.95);
  z-index: 4;
  top: 0;
  position: absolute;
  height: 98%;
  width: 40%;
  transition: all 0.5s ease;
}
.hidden-shopping-cart .hidden-title {
  height: 5%;
  display: flex;
  align-items: center;
}
.hidden-shopping-cart .hidden-title img {
  width: 1.5rem;
  height: 1.5rem;
}
.hidden-shopping-cart .hidden {
  padding-left: 1rem;
  overflow-y: scroll;
  position: relative;
  height: 70%;
}
.hidden-shopping-cart .hidden__shop-product {
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
.hidden-shopping-cart .hidden__shop-product .name-product {
  width: 60%;
}
.hidden-shopping-cart .hidden__shop-product .img-product {
  width: 20%;
}
.hidden-shopping-cart .hidden__shop-product .img-product img {
  width: 90%;
}
.hidden-shopping-cart .hidden__shop-product .price-product-cart {
  width: 20%;
}
.hidden-shopping-cart .hidden__shop-product .count-product {
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 30px;
}
.hidden-shopping-cart .hidden__shop-product .count-product input {
  text-align: center;
  width: 1.5rem;
}
.hidden-shopping-cart .hidden__shop-product .count-product span {
  color: #000000;
  width: 0.5rem;
}
.hidden-shopping-cart .hidden__shop-product .delete-product img {
  width: 1.5rem;
  height: 1.5rem;
}
.hidden-shopping-cart #js-hidden-total {
  display: flex;
  justify-content: center;
  background-color: #000000;
  height: 25%;
}
.hidden-shopping-cart #js-hidden-total .hidden-total {
  width: 50%;
}
.hidden-shopping-cart #js-hidden-total .hidden-total .hidden-total-number {
  display: flex;
  justify-content: space-between;
}
.hidden-shopping-cart #js-hidden-total .hidden-continue-active {
  display: flex;
  justify-content: center;
}
.hidden-shopping-cart #js-hidden-total .hidden-continue-active button {
  border-radius: 0.5rem;
  background-color: #29d0fd;
  color: #fff;
  height: 40px;
  width: 70%;
}
.hidden-shopping-cart #js-hidden-total .hidden-continue-active button:hover {
  background-color: steelblue;
  transform: translateY(2px);
}
.hidden-shopping-cart #js-hidden-total .hidden-continue {
  display: none;
}
.hidden-shopping-cart #js-hidden-total .hidden-delete {
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.desactive-hidden {
  right: 0;
}

.main {
  height: 85vh;
  background-image: url(../images/contact/background.webp);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 3rem 0 3rem 0;
}
.main .form {
  padding: 2.5% 2% 2.5% 0;
  grid-template-columns: repeat(7, 1fr);
  display: grid;
  width: 47%;
  height: 90%;
  background-color: rgba(128, 128, 128, 0.5);
}
.main .form__icons {
  grid-column: 1/2;
}
.main .form__icons ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
}
.main .form__icons ul li {
  list-style: none;
}
.main .form__icons ul li a {
  display: flex;
  justify-content: center;
}
.main .form__icons ul li a img {
  width: 50px;
  height: 50px;
}
.main .form__form-part {
  background-color: #3e3e3e;
  grid-column: 2/8;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 2rem auto;
  display: grid;
}
.main .form__form-part .points-form {
  display: flex;
  align-items: center;
  background-color: #4d4d4f;
  padding-left: 1.5rem;
  grid-column: 1/8;
}
.main .form__form-part .points-form #span-point-a {
  margin-right: 7px;
  border-radius: 50%;
  display: inline-block;
  width: 10px;
  height: 10px;
  content: "";
  background-color: #29d0fd;
}
.main .form__form-part .points-form #span-point-b {
  margin-right: 7px;
  border-radius: 50%;
  display: inline-block;
  width: 10px;
  height: 10px;
  content: "";
  background-color: hsl(193deg, 80%, 58%);
}
.main .form__form-part .points-form #span-point-c {
  margin-right: 7px;
  border-radius: 50%;
  display: inline-block;
  width: 10px;
  height: 10px;
  content: "";
  background-color: hsl(193deg, 50%, 58%);
}
.main .form__form-part .title-form {
  padding: 25%;
  font-weight: bold;
  font-size: 2rem;
  grid-column: 1/4;
  height: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.main .form__form-part .title-form span {
  display: block;
}
.main .form__form-part .title-form #subline-form {
  width: fit-content;
  position: relative;
}
.main .form__form-part .title-form #subline-form::before {
  position: absolute;
  content: "";
  padding: 5px;
  background-color: #29d0fd;
  bottom: -0.5rem;
  width: 100%;
}
.main .form__form-part .inputs-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-column: 4/8;
  display: flex;
}
.main .form__form-part .inputs-form .container-form-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 80%;
}
.main .form__form-part .inputs-form .container-form-group .app-form-group {
  margin-bottom: 4%;
  margin-top: 4%;
  font-size: 0.8rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.main .form__form-part .inputs-form .container-form-group .app-form-group input {
  width: 80%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
}
.main .form__form-part .inputs-form .container-form-group .app-form-group input:focus {
  border-bottom-color: #fff;
}
.main .form__form-part .inputs-form .container-form-group .app-form-group ::placeholder {
  border: none;
  color: rgba(128, 128, 128, 0.5);
}
.main .form__form-part .inputs-form .container-form-group .buttons {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.main .form__form-part .inputs-form .container-form-group .buttons .app-form-button {
  margin: 10px;
  background: none;
  border: none;
  color: #29d0fd;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}
.main .form__form-part .inputs-form .container-form-group .buttons .app-form-button:hover {
  color: hsl(323deg, 21%, 16%);
}

.success-container {
  font-family: "Cairo", sans-serif;
  margin: 5%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.success-container .container-confirmation {
  background-color: rgba(128, 128, 128, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 400px;
  border: 2px solid white;
}
.success-container .container-confirmation .img-success {
  padding: 40px 40px 20px 40px;
  display: flex;
  justify-content: center;
}
.success-container .container-confirmation .img-success img {
  width: 20%;
}
.success-container .container-confirmation .awesome {
  padding: 5px;
}
.success-container .container-confirmation .description-success {
  padding: 20px;
}
.success-container .container-confirmation .button-ok {
  padding: 40px;
}
.success-container .container-confirmation .button-ok a {
  font-weight: bold;
  font-size: 1em;
  text-decoration: none;
  color: #000000;
  padding: 5px 70px;
  background-color: #29d0fd;
}

.container-general-log-in {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  background-color: rgba(128, 128, 128, 0.4);
  height: 100vh;
  width: 100%;
  z-index: 5000;
}
.container-general-log-in .container-log-in {
  display: flex;
  flex-wrap: wrap;
  width: 20%;
  height: 460px;
  background-color: #3e3e3e;
}
.container-general-log-in .container-log-in .form-container-user {
  width: 100%;
  height: 91%;
}
.container-general-log-in .container-log-in .form-container-user .title-user {
  font-weight: bold;
  font-size: 2rem;
  height: 20%;
  display: flex;
  justify-content: center;
}
.container-general-log-in .container-log-in .form-container-user .title-user span {
  height: fit-content;
  padding-left: 10px;
}
.container-general-log-in .container-log-in .form-container-user .title-user #span-left-title-user {
  width: fit-content;
  position: relative;
}
.container-general-log-in .container-log-in .form-container-user .title-user #span-left-title-user::before {
  position: absolute;
  content: "";
  padding: 5px;
  background-color: #29d0fd;
  bottom: 0;
  width: 80%;
}
.container-general-log-in .container-log-in .form-container-user .user-container-data {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.container-general-log-in .container-log-in .form-container-user .user-container-data .complete-data {
  padding: 3%;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.container-general-log-in .container-log-in .form-container-user .user-container-data .complete-data label {
  color: #3e3e3e;
}
.container-general-log-in .container-log-in .form-container-user .user-container-data .complete-data input {
  width: 70%;
  font-size: 0.7rem;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  text-align: center;
}
.container-general-log-in .container-log-in .form-container-user .user-container-data .complete-data ::placeholder {
  color: #fff;
  border: none;
  font-size: 0.7rem;
}
.container-general-log-in .container-log-in .form-container-user .user-container-data .complete-data input:focus {
  border-bottom-color: #fff;
}
.container-general-log-in .container-log-in .form-container-user .register-user {
  padding-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.container-general-log-in .container-log-in .form-container-user .register-user button {
  border-radius: 0.2rem;
  margin: 0.5rem;
  background-color: #29d0fd;
  width: 30%;
  height: 40px;
  border: none;
  color: white;
}
.container-general-log-in .container-log-in .form-container-user .register-user button:hover {
  background-color: steelblue;
  transform: translateY(2px);
}
.container-general-log-in .upper-container {
  position: relative;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  background-color: #4d4d4f;
  width: 100%;
  height: 9%;
}
.container-general-log-in .upper-container img {
  position: absolute;
  right: 0;
  width: 35px;
  height: 35px;
}
.container-general-log-in .upper-container #js-span-a {
  margin-right: 7px;
  border-radius: 50%;
  display: inline-block;
  width: 15px;
  height: 15px;
  content: "";
  background-color: #29d0fd;
}
.container-general-log-in .upper-container #js-span-b {
  margin-right: 7px;
  border-radius: 50%;
  display: inline-block;
  width: 15px;
  height: 15px;
  content: "";
  background-color: hsl(193deg, 80%, 58%);
}
.container-general-log-in .upper-container #js-span-c {
  margin-right: 7px;
  border-radius: 50%;
  display: inline-block;
  width: 15px;
  height: 15px;
  content: "";
  background-color: hsl(193deg, 50%, 58%);
}

footer {
  display: flex;
  padding-left: 5%;
  font-family: "Cairo", sans-serif;
  grid-area: footer;
}
footer .footer-a {
  display: flex;
  align-items: center;
}
footer .footer-a img {
  padding-left: 20px;
  width: 6%;
}
footer .footer-b {
  display: flex;
  padding-top: 2%;
}
footer .footer-b #logo-razer {
  margin: 0 20px 0 20px;
  width: 3%;
}
footer .footer-b #logo-corsair {
  margin: 0 20px 0 20px;
  width: 4%;
}
footer .footer-b #logo-logitech {
  margin: 0 20px 0 20px;
  width: 14%;
}
footer .footer-c {
  padding-top: 5%;
}
footer .footer-c ul {
  padding-left: 5%;
  display: flex;
}
footer .footer-c ul li {
  list-style: none;
}
footer .footer-c ul li a {
  display: flex;
  justify-content: center;
}
footer .footer-c ul li a img {
  width: 10%;
}
footer .footer-d {
  align-items: center;
  display: flex;
  flex-direction: column;
}
footer .footer-d .footer-d-a {
  padding: 0;
  display: flex;
}
footer .footer-d .footer-d-a li {
  list-style: none;
}
footer .footer-d .footer-d-a li .img-footer-fb {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}
footer .footer-d .footer-d-a li .img-footer-fb img {
  width: 20%;
}
footer .footer-d .footer-d-a li .img-footer-ig {
  padding: 10px;
  display: flex;
  justify-content: flex-start;
}
footer .footer-d .footer-d-a li .img-footer-ig img {
  width: 20%;
}
footer .footer-d .footer-d-a img {
  width: 10%;
}
footer .footer-d .footer-d-b {
  display: flex;
  justify-content: center;
}
footer .footer-d .footer-d-b img {
  width: 50%;
}

@media screen and (max-width: 992px) {
  footer .footer-a img {
    width: 8%;
  }
  footer .footer-b {
    padding-left: 5%;
  }
  footer .footer-b #logo-razer {
    width: 5%;
  }
  footer .footer-b #logo-corsair {
    width: 6%;
  }
  footer .footer-b #logo-logitech {
    width: 20%;
  }
  footer .footer-c ul li img {
    width: 15%;
  }
  footer .footer-d .footer-d-a li .img-footer-fb img {
    width: 40%;
  }
  footer .footer-d .footer-d-a li .img-footer-ig img {
    width: 40%;
  }
  footer .footer-d .footer-d-b img {
    width: 60%;
  }
}
@media screen and (max-width: 576px) {
  footer .footer-abc .footer-a {
    height: 50%;
    text-align: center;
  }
  footer .footer-abc .footer-a h3 {
    font-size: 0.8em;
  }
  footer .footer-abc .footer-a img {
    width: 15%;
    padding: 0;
  }
  footer .footer-abc .footer-b {
    display: none;
  }
  footer .footer-abc .footer-c {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 50%;
    padding-top: 0;
  }
  footer .footer-abc .footer-c ul {
    padding-left: 5%;
    display: flex;
  }
  footer .footer-abc .footer-c ul li {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  footer .footer-abc .footer-c ul li img {
    width: 30%;
  }
  footer .footer-d {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  footer .footer-d .footer-d-a {
    padding: 0;
    display: flex;
  }
  footer .footer-d .footer-d-a li {
    list-style: none;
  }
  footer .footer-d .footer-d-a li .img-footer-fb {
    padding: 10px 5px 5px 5px;
    display: flex;
    justify-content: flex-end;
  }
  footer .footer-d .footer-d-a li .img-footer-fb img {
    width: 20%;
  }
  footer .footer-d .footer-d-a li .img-footer-ig {
    padding: 10px 5px 5px 5px;
    display: flex;
    justify-content: flex-start;
  }
  footer .footer-d .footer-d-a li .img-footer-ig img {
    width: 20%;
  }
  footer .footer-d .footer-d-b {
    display: flex;
    justify-content: center;
  }
  footer .footer-d .footer-d-b img {
    width: 50%;
    margin-bottom: 0.25rem;
  }
}

/*# sourceMappingURL=style.css.map */
